*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    padding: 20px;
    background-color: burlywood;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo h1{
    color: brown;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

ul li a{
    padding: 10px;
    color: brown;
    text-decoration: none;
}

ul li a:hover{
    border-bottom: 2px solid green;
}

main {
    font-family: Arial, sans-serif;
    width: 550px;
    margin: 0 auto;
    padding: 20px;
}

.shop, .cart {
    border: 1px solid #ddd;
    padding: 20px;
}

.items{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.items .item {
    width: 200px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

button.add-to-cart {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button.add-to-cart:hover {
    background-color: #45a049;
}

#cart-items {
    list-style-type: none;
    padding: 0;
}

#cart-items li {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    display: flex;
    justify-content: space-around   ;
}

button.remove-from-cart {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button.remove-from-cart:hover {
    background-color: #e53935;
}

button#pay-button {
    background-color: rgb(33, 150, 243);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
}

button#pay-button:hover {
    background-color: rgb(25, 118, 210);
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    font-size: 32px;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
}

.popup.active {
    display: block;
}