/* Variables */
$bg-color: hsl(0, 0%, 8%);
$text-color: rgba(245, 245, 245, 0.747);
$font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$border-color: rgba(255, 255, 255, 0.312);
$highlight-color: white;
$footer-bg-color: rgba(44, 41, 41, 0.4);